apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .service.name }}-config
  namespace: {{ .namespace }}-{{ .env.name }}
  labels:
    app: {{ .service.name }}
    environment: {{ .env.name }}
data:
{{- range .service.env }}
  {{ .name }}: "{{ index . $.env.name }}"
{{- end }}
