apiVersion: v1
kind: Service
metadata:
  name: {{ .service.name }}
  namespace: {{ .namespace }}-{{ .env.name }}
  labels:
    app: {{ .service.name }}
    environment: {{ .env.name }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .service.port }}
      targetPort: {{ .service.port }}
      protocol: TCP
      name: http
  selector:
    app: {{ .service.name }}
