package main

import (
	"os"

	"{{ .module }}/cmd"
)

// Build information set by ldflags
var (
	version   = "dev"
	commit    = "unknown"
	buildTime = "unknown"
)

func main() {
	cmd.SetVersionInfo(version, commit, buildTime)
	if err := cmd.Execute(); err != nil {
		os.Exit(1)
	}
}
