package main

import (
	"context"
	"flag"
	"log"
	"time"

	"google.golang.org/grpc"
	"google.golang.org/grpc/credentials/insecure"
)

var (
	addr = flag.String("addr", "localhost:{{ .port }}", "the address to connect to")
)

func main() {
	flag.Parse()

	conn, err := grpc.NewClient(*addr, grpc.WithTransportCredentials(insecure.NewCredentials()))
	if err != nil {
		log.Fatalf("did not connect: %v", err)
	}
	defer conn.Close()

	// TODO: Create {{ .name | pascalCase }}Service client

	ctx, cancel := context.WithTimeout(context.Background(), time.Second)
	defer cancel()

	_ = ctx // Use ctx for RPC calls
	log.Printf("Connected to {{ .name }} service at %s", *addr)
}
