<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0
         http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>{{ .groupId }}</groupId>
    <artifactId>{{ .name }}</artifactId>
    <version>{{ .version }}</version>
    <packaging>pom</packaging>

    <name>{{ .name | title }}</name>
    <description>Multi-module gRPC microservices project</description>

    <properties>
        <java.version>{{ .javaVersion }}</java.version>
        <maven.compiler.source>{{ .javaVersion }}</maven.compiler.source>
        <maven.compiler.target>{{ .javaVersion }}</maven.compiler.target>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <spring-boot.version>{{ .springBootVersion }}</spring-boot.version>
        <grpc.version>{{ .grpcVersion }}</grpc.version>
        <protobuf.version>3.25.2</protobuf.version>
    </properties>

    <modules>
        {{- range .services }}
        <module>modules/{{ .name }}</module>
        {{- end }}
    </modules>

    <dependencyManagement>
        <dependencies>
            <dependency>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-dependencies</artifactId>
                <version>${spring-boot.version}</version>
                <type>pom</type>
                <scope>import</scope>
            </dependency>
            <dependency>
                <groupId>io.grpc</groupId>
                <artifactId>grpc-bom</artifactId>
                <version>${grpc.version}</version>
                <type>pom</type>
                <scope>import</scope>
            </dependency>
        </dependencies>
    </dependencyManagement>

    <build>
        <pluginManagement>
            <plugins>
                <plugin>
                    <groupId>org.springframework.boot</groupId>
                    <artifactId>spring-boot-maven-plugin</artifactId>
                    <version>${spring-boot.version}</version>
                </plugin>
                <plugin>
                    <groupId>org.xolstice.maven.plugins</groupId>
                    <artifactId>protobuf-maven-plugin</artifactId>
                    <version>0.6.1</version>
                </plugin>
            </plugins>
        </pluginManagement>
    </build>
</project>
